.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.AppHeader{
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px 4px 12px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.25);
  background-color: whitesmoke;
  transition: background-color 0.3s, color 0.3s;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);


}
.AppHeader img{
  width: 60px;
  border-radius: 50px;
  height: 60px;
}
.AppFooter{
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-top: 2px solid rgba(0, 0, 0, 0.25);

}
.SideMenu{
  


}
.SideMenuAndPageContent{
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: flex-start;
}
.PageContent{
  padding-left: 16px;
  

}
.statistics-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 150px;
  
}
.stat-card{
  background-color: #f8f9f8;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0, 0.2);
  flex: 0 1 calc(25% - 50px);
  text-align: center;
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s;
  
}
.stat-card:hover{
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
.stat-card h2{
  font-size: 24px;
  margin: 10px 0;
}
.stat-card p{
  font-size: 20px;
  color: #007bff;
  font-weight: bold;

}
@media(max-width: 768px){
  .stat-card{
    flex: 0 1 calc(50% - 20px);
  }
}
@media(max-width: 480px){
  .stat-card{
    flex: 0 1 100%;
  }
}

.toggle-btn {
  position: absolute;
  top: 0px;
  right: 15px;
  font-size: 16px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
}

/* Hover effect for toggle button */
.toggle-btn:hover {
  background-color: #0056b3;
  transform: scale(1.1); /* Smooth transition on hover */
}

/* Dark mode for toggle button */
.dark-mode .toggle-btn {
  background-color: #444;
}

/* Hover effect for dark mode */
.dark-mode .toggle-btn:hover {
  background-color: #222;
}

.logout-btn{
  position: absolute;
  bottom: 40px;
  right: 0px;
  font-size: 16px;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: white;
  border: none;
  
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s ease;
}